<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
    <title>Harshpal Singh </title>
  </head>
  <body>
    <div class="container">
    <h1>Harshpal Singh's Portfolio</h1>


    <section aria-labelledby="kittensheader">
        <h2> Harshpal Singh </h2>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" 
          aria-expanded="false" aria-label="Toggle Navigation" >
            <span class="navbar-toggler-icon"></span>
          </button>
         
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
               <li class="nav-item">
                 <a href="#" class="nav-link active">Home</a>
               </li>
               <li class="nav-item">
                 <a href="#" class="nav-link">About Me</a>
               </li>
               <li class="nav-item">
                 <a href="#" class="nav-link">Projects</a>
               </li>
               <li class="nav-item">
                 <a href="#" class="nav-link">Services</a>
               </li>
               <li class="nav-item">
                  <a href="contact.html" class="nav-link">Contact</a>
                </li>
                
                
            </ul>
            
          </div>
          
        </nav>
        <center><img src="images/main.jpg" height="650px" width="900px" padding-botton:100%>
        </center>
      </section>
    <main class="row">
      <section class="col">
       <div style="width:85%;height:0;padding-bottom:99%;position:relative;"><img src="images/harry sketch.jpg" 
        width="300px" height="380px" style="position:absolute" frameBorder="0" ></div>
        <p>
          
          
          
          
          
          fjkvbskjebvlis zkvdsbks
          kjbvkjzsvkbliz fv
          kbvkjzb jhwbvicaebvukebavkubearv'
          'aejvbhjavbjaevfiubauifvbiuabfv
          af       

             
           ----------
          I'm looking to expand my portfolio while I'm on top and while I'm young.
        </p>
      </section>
      <section class="col">
          <div style="width:85%;height:0;padding-bottom:99%;position:relative;"><img src="images/IMG_3535.JPG" 
            width="250px" height="250px" style="position:absolute" frameBorder="0" ></div>       
             <p>
                If you're going to be a model, what's going to get you the job on a go-see and makes you stand out, it might not be your lipstick or your portfolio or what you're wearing, it might come from your core being.
              
                
        </p>
      </section>
      <section class="col">
       <img src="images/IMG_3657.JPG"  width="400" height="400" frameBorder="0" class="giphy-embed" 
       allowFullScreen></iframe>
        <p>
            I didn't launch the website with any goals in mind, to be honest. I didn't know that it would have been anything other than a digital portfolio once I graduated college.
 
        </p>
      </section>
    </main>
    </div><!--end container-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     </body>
  <center>
  <footer class="footer">
    Contact:+118002565656
    Email-harshpalsingh13@yahoo.in
  </footer>
  </center>
</html>