extends layout

block content
  center
    img(src='/images/main.jpg' height='650px' width='900px' padding-botton:100%='')
    main.row
      section.col
        div(style='width:85%;height:0;padding-bottom:99%;position:relative;')
          img(src='https://www.google.com/search?rlz=1C1RLNS_enCA859CA859&biw=1366&bih=576&tbm=isch&sxsrf=ACYBGNQgftvOkj8astQxw5CzO8zix_py_A%3A1570995672949&sa=1&ei=2H2jXc7MOfKMtgWikqfQBw&q=wakeupsingh_&oq=wake&gs_l=img.3.0.35i39j0l9.10474.11231..12414...0.0..0.156.519.0j4......0....1..gws-wiz-img.dFLUXRXtH-A#imgrc=2gIlwL86ZBMl6M:' width='300px' height='380px' style='position:absolute' frameborder='0')
        p
          |
          | ----------
          | I&apos;m looking to expand my portfolio while I&apos;m on top and while I&apos;m young.
      section.col
        div(style='width:85%;height:0;padding-bottom:99%;position:relative;')
          img(src='/images/IMG_3535.JPG' width='250px' height='250px' style='position:absolute' frameborder='0')
        p
          | If you&apos;re going to be a model, what&apos;s going to get you the job on a go-see and makes you stand out, it might not be your lipstick or your portfolio or what you&apos;re wearing, it might come from your core being.
      section.col
        img.giphy-embed(src='/images/IMG_3657.JPG' width='400' height='400' frameborder='0' allowfullscreen='')
        p
          | I didn&apos;t launch the website with any goals in mind, to be honest. I didn&apos;t know that it would have been anything other than a digital portfolio once I graduated college.

  // end container
  // Optional JavaScript
  // jQuery first, then Popper.js, then Bootstrap JS
  //- center
    footer.footer
      | Contact:+118002565656
      | Email-harshpalsingh13@yahoo.com

