extends ../layout

block content
	h1 User List

	table.table
		thead
			tr
				th Username
				th Role
				th
		tbody
			each user in users
				tr
					td= user.username
					td= user.role
					td
						a.btn.btn-primary(href=`/users/${user._id}`) Edit